<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="data labeling page" name="description">
    <meta content="Taesu.Kim" name="author">

    <title>Index</title>

    <!-- Custom fonts for this template-->

    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.1/vendor/fontawesome-free/css/all.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.1/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion sidebar-toggled" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
                Home
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <div sec:authorize="isAuthenticated()">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" href="/labeling/list">
                    <i class="fas fa-fw fa-search"></i>
                    <span>Labeling</span>
                </a>
            </li>


            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    ADMIN
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/account/setUp">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Add Data</span>
                    </a>
                </li>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/account/add">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Add Account</span>
                    </a>
                </li>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/account/edit">
                        <i class="fas fa-fw fa-edit"></i>
                        <span>Edit Account</span>
                    </a>
                </li>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/account/status">
                        <i class="fas fa-fw fa-signal"></i>
                        <span>Account Status</span>
                    </a>
                </li>

            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <form action="/account/logout" method="post" th:action="@{/account/logout}">
                    <a class="nav-link collapsed" href="#" onclick="parentNode.submit();">
                        <i class="fas fa-fw fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </form>
            </li>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/account/loginPage">
                    <i class="fas fa-fw fa-sign-in-alt"></i>
                    <span>Login</span>
                </a>
            </li>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                    <i class="fa fa-bars"></i>
                </button>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" sec:authorize="isAuthenticated()">Labeling</h1>
                </div>

                <div class="card shadow mb-4" id="progress-card">
                    <div class="card-body">
                        <h4 class="small font-weight-bold" th:if="${data.getTotal()!=0}">Progress Bar
                            <span class="float-right label-status"
                                  th:text="|${data.getTotal()-data.getTodo()}/${data.getTotal()} (${#numbers.formatDecimal((data.getTotal()-data.getTodo())*100.0/data.getTotal(),0,2)}%)|"></span>
                        </h4>
                        <h4 class="small font-weight-bold" th:if="${data.getTotal()==0}">Progress Bar
                            <span class="float-right label-status"
                                  th:text="|0%|"></span></h4>
                        <div class="progress mb-4">
                            <div aria-valuemax="100" aria-valuemin="0"
                                 class="progress-bar bg-danger label-progress-bar"
                                 role="progressbar" th:if="${data.getTotal()==0}"
                                 th:style="|width: 0%|"></div>
                            <div aria-valuemax="100" aria-valuemin="0"
                                 class="progress-bar bg-danger label-progress-bar"
                                 role="progressbar"
                                 th:if="${data.getTotal()!=0}"
                                 th:style="|width: ${#numbers.formatDecimal((data.getTotal()-data.getTodo())*100.0/data.getTotal(),0,2)}%|"></div>
                        </div>
                    </div>
                </div>

                <hr/>
                <!-- Content Row -->
                <div class="row" sec:authorize="isAuthenticated()">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Content</h6>
                            </div>
                            <div class="card-body">
                                <p hidden id="label-id" th:text="${data.getLabeling().getId()}"></p>
                                <p hidden id="label-owner" th:text="${data.getLabeling().getOwner()}"></p>
                                <p hidden id="label-date" th:text="${data.getLabeling().getDate()}"></p>
                                <p id="label-content" th:text="${data.getLabeling().getContent()}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row mt-3" id="emotions" sec:authorize="isAuthenticated()">
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.1/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.1/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.1/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.1/vendor/chart.js/Chart.min.js"></script>

</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    const emotions = [[${emotions}]];
    emotions.forEach(function (item, index) {
        const color = '#' + Math.floor(Math.random() * 16777215).toString(16);
        $("#emotions").append(`<button class="btn btn-outline-dark mb-2 emotion-button mr-2 font-weight-bold" style="color: ${color}">${item}</button>`)
    });
    /*]]>*/
</script>

<script>
    $(".emotion-button").click(function () {
        const data = {
            id: $("#label-id").text(),
            owner: $("#label-owner").text(),
            emotion: $(this).text()
        };

        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/labeling/next",
            data: data,
            cache: false,
            success: function (data) {
                if (data === undefined) {
                    window.location.replace("/");
                } else {
                    console.log('exist');
                    const todo = data.todo;
                    const total = data.total;
                    $(".label-status").text(`${total - todo}/${total} (${((total - todo) * 100.0 / total).toFixed(2)}%)`);
                    $(".label-progress-bar").attr('style', `width: ${(total - todo) * 100.0 / total}%`);
                    $("#label-id").text(data.labeling.id);
                    $("#label-owner").text(data.labeling.owner);
                    $("#label-date").text(data.labeling.date);
                    $("#label-content").text(data.labeling.content);
                }
            },
            error: function (e) {
                console.log("fail");
            }
        });
    })
</script>

</html>
